<div>
    <img [src]="logoSrc"
        class="logo">
    <div class="title">
        <div class="title-main"> Sentinel (TM) </div>
        <div class="title-sub"> Aquaculture Farm Management & Analytics platform </div>
    </div>
    
    <div class="description">
        <!-- Add a project description here -->
    </div>
    <div class="description">
        <!-- Add a second description here -->
    </div>
    <div class="license">
      <p>&copy; Copyright 2019 Pelagis Data Solutions</p>
    </div>
</div>
